




.backgroundPrincipal
{
    max-width: 120rem;
    
}
.presentacion 
{
    width: 100%;
    height: 40rem;
    background-image: url('../../public/img/backgroundPage.jpg');
    background-size: cover;
    display: flex;
    justify-content: flex-end;

}
.titulo 
{
    width: 40rem;
    height: 20rem;
    line-height: 2rem;
    margin-top: 9rem;
}
.titulo h2 
{
    color: #fff;
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Outfit';
}
@media (max-width:600px){
    .presentacion .titulo h2 
    {
        font-size: 3rem;
        line-height: 3rem;
    }
    .presentacion .titulo h3 
    {
        font-size: 1.2rem;
    }
    
}
.titulo h3 
{
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0;
    font-weight: 300;
    font-family: 'PiazollaV';
}
.navbar 
{
    width: 6rem;
    height: 6rem;
    background-image: url('../../public/img/menu.png');
    background-size: cover;
    border-radius: 100%;
    position: absolute;
    margin: 2rem 4rem;
   
    
}
.navegacion
{
   
    width: 25rem;
    height: 4rem;
    margin-top: 2rem;
    margin-left: 6rem;
    transition: all .4s ease-in-out;
    

}
@media (max-width:600px){
    .navegacion 
    {
       
        width: 10rem;
        height: auto;
    }
    .navegacion .listado {
        flex-direction: column;
        line-height: 2rem;
        margin-top: -1rem;
    }
}
.listado 
{
    display: flex;
    justify-content: space-around;
    list-style: none;
      
}
.listado a 
{
    text-decoration: none;
    
}

.listado li 
{
    font-family: 'Outfit';
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    margin-left: -2rem;
transition: all .3s ease;
}
.listado li:hover 
{
    color: tomato;
}

