
.contenido 
{
 max-width: 120rem;
    height: auto;
    padding: 1rem 2rem;
    margin-bottom: 4rem;
}

.titulo 
{
    font-family: 'Outfit';
    font-size: 5rem;
    text-align: center;
}
@media (max-width:600px){
    .titulo 
    {
        font-size: 3rem;
    }
    .contenido
    {
        padding: 0;
        
    }
    .contenido .contenedorCardDatos 
    {
        width: 100%;
        padding: 0;
    }
    
}
.contenedorCardDatos 
{
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: -2rem auto;
    
    
}

.contenedorDatos 
{
    width: 30rem;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    position: relative;
    align-items: center;
    margin-top: 1rem;
    border: .1rem solid #7d7d7d;
    
}

.contenedorDatos img 
{
    position: absolute;
    
}
.contenedorImagenes ,
.imagenesTester 
{
    width: 80%;
    height: 25rem;
   
}
.engrane1 
{
    margin-left: 16.5rem;
    margin-top: 4rem;
    animation: eng1 ease-in 15s infinite normal forwards;
}
.engrane2 
{
    margin-left: 12.5rem;
    margin-top: 5.5rem;
    animation: eng2 ease-in 15s infinite normal forwards;

}


.pulso 
{
    animation:bounce 3s infinite linear normal forwards ;
    margin-left: 2rem;
    margin-top: 3rem;
}
@keyframes eng1 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes eng2 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}

@keyframes bounce {
	0% {
		transform: translate(0);
	}

	20% {
		transform: translate(-2px, 2px);
	}

	40% {
		transform: translate(-2px, -2px);
	}

	60% {
		transform: translate(2px, 2px);
	}

	80% {
		transform: translate(2px, -2px);
	}

	100% {
		transform: translate(0);
	}
}



.contenedorCardDatos h2 
{
  font-size: 2rem;
  text-align: center;
  color: #1e1e1e;
  font-family: 'Outfit';
  margin-top: 0;
}
.contenedorCardDatos p 
{
    color: #1e1e1e;
  font-family: 'Outfit';
  text-align: center;
}
.contenedorCardDatos h3
{
    color: #1e1e1e;
  font-family: 'Outfit';
  text-align: center;
  font-size: 1.5rem;
}
.contenedorDatosHerramientas 
{
    width: 100%;
    height: auto;
    padding: 2rem;
    margin-bottom: 3rem;
} 
.infoHerramientas 
{
    width: 100%;
    height: auto;
  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 2rem;
}
.infoHerramientas h4 
{
    font-family: 'Outfit';
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-left: 1rem;
    margin-right: 1rem;
}
.tituloDatos 
{
    margin-top: -5rem;
}

.footer 
{
    max-width: 120rem;
    height: 8rem;
    background-color: #1e1e1e;
    padding: 1rem 2rem;
}
.footer h2 
{
    color: #fff;
    text-align: center;
    font-family: 'Outfit';
    font-size: 2.5rem;
}